extends layout

block content
  h1= title

  if bookinstance_list.length
    ul
      each val in bookinstance_list
        li
          a(href=val.url) #{val.book.title} : #{val.imprint} -&nbsp;
          if val.status=='Available'
            span.text-success #{"可借阅"}
          else if val.status=='Maintenance'
            span.text-danger #{"维护中"}
          else if val.status=='Loaned'
            span.text-warning #{"已借出"}
          else if val.status=='Reserved'
            span.text-warning #{"已预约"}  
          if val.status!='Available'
            span  (到期时间: #{val.due_back_formatted } )

  else
    p 本馆无此书藏本。
