extends layout

block content

  h1 图书ID: #{bookinstance._id}

  p #[strong 书名: ]
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong 发行:] #{bookinstance.imprint}

  p #[strong 状态: ]
    if bookinstance.status=='Available'
      span.text-success #{"可借阅"}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{"​​维护中"}
    else if bookinstance.status=='Loaned'
      span.text-warning #{"已借出​​"}
    else if bookinstance.status=='Reserved'  
      span.text-warning #{"已预约​​"}
  if bookinstance.status!='Available'
    p #[strong 应还日期:] #{bookinstance.due_back_formatted}
