extends layout

block content

  h1 类别: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 图书榜单

    dl
    each book in genre_books
      dt
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p 此类别无藏书。
  hr
  p 
   a(href=genre.url+'/delete') 删除类别
  p 
   a(href=genre.url+'/update') 更新类别