extends layout

block content
  h1= title
  p 欢迎来到#[strong LocalLibrary]，这是一个非常基础的Express网站，作为Mozilla开发者网络上的教程示例而开发。

  h1 动态内容

  p 图书馆现存记录数量统计：

  ul
    li #[strong 图书:] !{book_count}
    li #[strong 馆藏副本:] !{book_instance_count}
    li #[strong 可借副本:] !{book_instance_available_count}
    li #[strong 作者:] !{author_count}
    li #[strong 流派(Genres):] !{genre_count}
