extends layout

block content
  h1= title
  p 欢迎来到#[strong 岭南图书馆]，本网站使用的技术栈:MongoDB作为数据库，且托管在MongoDB atlas，Mongoose作为ORM，Express作为Web框架，Bootstrap作为前端框架，node.js作为后端语言，pug作为模板引擎。
  p 目前实现的功能：
  ul
    li 图书管理
    li 作者管理
    li 类别管理
    li 藏本管理

  h1 动态内容

  p 图书馆现存记录数量统计：

  ul
    li #[strong 图书册数:] #[strong  !{book_count}]
    li #[strong 馆藏副本:] #[strong  !{book_instance_count}]
    li #[strong 可借副本:] #[strong  !{book_instance_available_count}]
    li #[strong 作者人数:] #[strong  !{author_count}]
    li #[strong 图书类别:] #[strong  !{genre_count}]
