extends layout

block content
  h1= title
  p 欢迎来到#[strong LocalLibrary]。

  h1 动态内容

  p 图书馆现存记录数量统计：

  ul
    li #[strong 图书册数:] #[strong  !{book_count}]
    li #[strong 馆藏副本:] #[strong  !{book_instance_count}]
    li #[strong 可借副本:] #[strong  !{book_instance_available_count}]
    li #[strong 作者人数:] #[strong  !{author_count}]
    li #[strong 图书类别:] #[strong  !{genre_count}]
